@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}

 h2 {
    font-size: small;
}

h1 {
    font-size: medium;
} 

.card-list {
    display: flex;
    padding: 3rem;
    padding-left: 10rem;
    overflow-x: scroll;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 250px;
    padding: 1.5rem;
    margin-left: -130px;
}

.card {
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(130px);
}

.author-avatar img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin: 16px 10px;
}
.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    cursor: pointer;
}
